@use '../../../styles/colors.scss' as *;

div.nav-wrapper {
    padding: 6px;
    background-color: $white;
}

header {
    padding: 6px;
}

nav {
    box-shadow: none;
}

NavBar {
    opacity: 0;
}

.nav-item {
    color: $black;
}
