@use '../../../styles/colors.scss' as *;

// Code below is native to Materialize; classes are shared with ResultsNavigation.scss

@media only screen and (max-width: 519px) {
    // .mobile-header {
    //     display: flex;
    // }

    .nav-container-left {
        display: none !important;
    }

    .nav-container-right {
        display: none !important;
    }
}

@media only screen and (min-width: 520px) {
    .hide-on-med-and-down {
        display: block !important;
    }

    .mobile-header {
        display: none !important;
    }

    nav a.sidenav-trigger {
        display: none !important;
    }

    .nav-container {
        display: flex !important;
    }
}

@media only screen and (max-width: 992px) {
    .hide-on-med-and-down {
        display: block !important;
        min-width: 300px;
    }
}

a {
    padding: 0px !important;
}

.apps-icon {
    height: 48px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: $apps-icon;
}

div.nav-wrapper {
    background-color: $white;
    line-height: 48px !important;
    max-height: 48px;
}

.line {
    background: $line;
    height: 1px;
    margin: 5px 0;
}

.margin-left-edge {
    margin-left: 15px;
}

.margin-right {
    margin-right: 5px;
}

.nav-container {
    display: none;
    float: right;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav-container-left {
    display: flex;
    padding-left: 5px;
}

.nav-container-right {
    display: flex;
    margin-left: auto;
    order: 2;
    padding-left: 32px;
    padding-right: 4px;
    right: 0;
}

.nav-item {
    color: $black;
    padding-left: 10px !important;
    padding-right: 10px !important;
    max-height: 48px;
}

.nav-item:hover {
    background-color: $white;
    text-decoration: underline;
}

.nav-item-apps {
    color: $black;
    padding-left: 10px !important;
    padding-right: 10px !important;
    max-height: 48px;
    transition: none;
}

.nav-item-apps:focus-visible {
    border-radius: 50%;
}

.nav-item-apps:hover {
    background-color: $nav-item-apps-hover;
    text-decoration: none;
    border-radius: 50%;
}

.nav-link {
    padding: 5px;
}

.side-nav-item {
    display: flex;
    align-items: center;
    color: $side-nav-item;
    height: 48px;
    line-height: 20px;
    width: 100%;
    vertical-align: middle;
}

.side-nav-item-image {
    padding: 0 15px;
    margin-bottom: 3px;
    vertical-align: middle;
    height: 24px;
}

ul.sidenav {
    width: 250px !important;
    background-color: $white;
    overflow-y: scroll;
    padding-top: 15px;
    transition: 0.5s;
    font-size: 16px;
}

// -------------------------- Code below is specific to the ResultsNavigation.tsx component

@media only screen and (max-width: 300px) {
    .all-images {
        display: none !important;
    }
}

@media only screen and (max-width: 519px) {
    // a.sidenav-trigger {
    //     padding: 12px 16px !important;
    // }

    // .header-home {
    //     height: 48px !important;
    //     width: 100%;
    //     padding: 0px !important;
    //     box-sizing: content-box !important;
    // }

    i {
        width: 24px;
        height: 24px !important;
    }

    // .sidenav-trigger {
    //     height: 27px !important;
    //     margin: 0 !important;
    //     display: block;
    // }
}

.all {
    color: $all-border;
    border-bottom: 2px solid $all-border;
    display: block;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 600;
    line-height: 48px;
    margin-right: 8px;
    padding: 0 8px !important;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.all-images {
    display: flex;
    overflow-x: hidden;
}

.auto {
    min-width: auto;
}

.bell {
    color: $footer-text-color;
    display: block;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding: 12px 12px 8px 12px !important;
}

.bell-span {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.bell-image {
    display: block;
    height: 100%;
    width: 100%;
}

.header-home {
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.images {
    color: $footer-text-color;
    display: block;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 600;
    line-height: 48px;
    margin-right: 8px;
    padding: 0 8px !important;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.inline-div {
    display: inline;
}

.mobile-apps {
    color: $mobile-apps;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    background-position: -64px -29px;
    padding: 8px !important;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.mobile-apps:focus:hover {
    background-color: $nav-item-apps-hover;
}

.mobile-apps-container {
    padding-left: 4px !important;
    padding: 4px;
    display: inline-block;
    vertical-align: middle;
}

.mobile-apps-container-2 {
    position: relative;
    display: block;
}

.mobile-header {
    height: 48px;
    display: flex;
}

.mobile-right-container {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    position: relative;
    z-index: 1;
}

.mobile-right-container-2 {
    padding-left: 0 !important;
    float: right;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    flex: 0 0 auto;
    justify-content: flex-end;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-user-select: none;
}

.mobile-right-container-3 {
    float: right;
    position: relative;
    display: block;
}

.mobile-sign-in {
    cursor: pointer;
    color: $white;
    text-decoration: none;
    padding: 9px 15px !important;
    min-width: 80px;
    margin-left: 8px;
    background: $nav-button;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-right: 8px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    display: inline-block;
}

.mobile-sign-in:hover {
    background: $mobile-sign-in;
    box-shadow: 0 1px 2px 0 $niah-shadow;
}

.mobile-spacer {
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    min-width: 1px;
}

nav {
    box-shadow: none;
    background-color: $white;
}

.nav-apps-container:focus-visible {
    border-radius: 50%;
}

nav ul li {
    float: none;
}

.nav-button {
    background-color: $nav-button;
    border: 1px solid transparent;
    padding: 1px 23px;
    box-shadow: none;
    border-radius: 4px;
    margin-left: 8px !important;
    margin-right: 8px !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    vertical-align: middle;
    text-align: center;
    align-items: center;
}

.nav-button:hover {
    background-color: $nav-button-hover;
    text-decoration: none !important;
    box-shadow: $niah-shadow;
    border: 1px solid transparent !important;
}

.nav-icon:hover {
    border: 1px $nav-icon-hover solid;
    text-decoration: none !important;
    background-color: $nav-item-apps-hover;
    padding: 8px;
    border-radius: 50%;
}

.nav-item-container {
    text-align: center;
    height: 48px;
}

.section {
    padding-top: 0;
    padding-bottom: 0;
    max-height: 48px;
    width: 100%;
}

.sign-in {
    padding: 9px 23px;
}
