@use '../../../styles/colors.scss' as *;

// Code below is native to Materialize; classes are shared with ResultsNavigation.scss

@media only screen and (min-width: 520px) {
    nav a.sidenav-trigger {
        display: none !important;
    }
}

@media only screen and (min-width: 520px) {
    .hide-on-med-and-down {
        display: block !important;
    }

    .mobile-header {
        display: none !important;
    }
}

@media only screen and (max-width: 992px) {
    .hide-on-med-and-down {
        display: block !important;
    }
}

@media only screen and (max-width: 519px) {
    .nav-container-left {
        display: none !important;
    }

    .nav-container-right {
        display: none !important;
    }

    .mobile-header {
        display: block;
    }
}

a {
    padding: 0px !important;
}

.apps-icon {
    height: 48px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: #5f6368;
}

div.nav-wrapper {
    background-color: $white;
    line-height: 48px !important;
    max-height: 48px;
}

.line {
    background: #dadce0;
    height: 1px;
    margin: 5px 0;
}

.margin-left-edge {
    margin-left: 15px;
}

.margin-right {
    margin-right: 5px;
}

.nav-container {
    display: flex;
    float: right;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav-container-left {
    display: flex;
    padding-left: 5px;
}

.nav-container-right {
    display: flex;
    margin-left: auto;
    order: 2;
    padding-left: 32px;
    padding-right: 4px;
    right: 0;
}

.nav-item {
    color: $black;
    padding-left: 10px !important;
    padding-right: 10px !important;
    max-height: 48px;
}

.nav-item:hover {
    background-color: #fff;
    text-decoration: underline;
}

.nav-item-apps {
    color: $black;
    padding-left: 10px !important;
    padding-right: 10px !important;
    max-height: 48px;
    transition: none;
}

.nav-item-apps:hover {
    background-color: rgba(60, 64, 67, 0.08);
    text-decoration: none;
    border-radius: 50%;
}

.nav-item-apps:focus-visible {
    border-radius: 50%;
}

.nav-link {
    padding: 5px;
}

.side-nav-item {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    height: 48px;
    line-height: 20px;
    width: 100%;
    vertical-align: middle;
}

.side-nav-item-image {
    padding: 0 15px;
    margin-bottom: 3px;
    vertical-align: middle;
    height: 24px;
}

ul.sidenav {
    width: 250px !important;
    background-color: $white;
    overflow-y: scroll;
    padding-top: 15px;
    transition: 0.5s;
    font-size: 16px;
}

// Code below is specific to the ResultsNavigation.tsx component

@media only screen and (max-width: 519px) {
    .header-home {
        height: 48px !important;
        width: 100%;
        padding: 0px !important;
        box-sizing: content-box !important;
    }

    a.sidenav-trigger {
        padding: 12px 16px !important;
    }

    i {
        width: 24px;
        height: 24px !important;
    }

    .sidenav-trigger {
        height: 27px !important;
        margin: 0 !important;
        display: block;
    }
  }

.header-home {
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
    flex-shrink: 0;
    box-sizing: border-box;
}

nav {
    box-shadow: none;
    background-color: $white;
}

nav ul li {
    float: none;
}

.nav-button {
    background-color: #1a73e8;
    border: 1px solid transparent;
    padding: 1px 23px;
    box-shadow: none;
    border-radius: 4px;
    margin-left: 8px !important;
    margin-right: 8px !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    vertical-align: middle;
    text-align: center;
    align-items: center;
}

.nav-button:hover {
    background-color: #2b7de9 !important;
    text-decoration: none !important;
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%),
        0 1px 3px 1px rgb(66 133 244 / 15%);
    border: 1px solid transparent !important;
}

.nav-item-container {
    text-align: center;
    height: 48px;
}

.nav-apps-container:focus-visible {
    border-radius: 50%;
}

.nav-icon:hover {
    border: 1px red solid;
    text-decoration: none !important;
    background-color: rgba(60, 64, 67, 0.08);
    padding: 8px;
    border-radius: 50%;
}

.section {
    padding-top: 0;
    padding-bottom: 0;
    max-height: 48px;
    width: 100%;
}

.sign-in {
    padding: 9px 23px;
}

.mobile-header {
    width: 100%;
    height: 48px;
    background-color: rgb(255, 203, 203);
}

.all-images {
    display: flex;
    overflow-x: hidden;
    // width: 50px;
    // height: 48px;
    // background-color: blue;
}

.all {
    color: #4285f4;
    border-bottom: 2px solid #4285f4;

    display: block;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 600;
    line-height: 48px;
    margin-right: 8px;
    padding: 0 8px !important;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.images {
    color: #70757a;
    display: block;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 600;
    line-height: 48px;
    margin-right: 8px;
    padding: 0 8px !important;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}