@use '../../../styles/colors.scss' as *;

@media only screen and (max-width: 1200px) {
    .container {
        justify-content: space-evenly !important;
    }
}

.footer-copyright {
    padding: 0px !important;
    width: 100%;

    flex-shrink: 0;
    box-sizing: border-box;
}

.left-footer-container {
    order: 1;

    justify-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    min-width: 30%;
    float: left;
}

.center-footer-container {
    order: 2;

    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

.right-footer-container {
    order: 3;

    justify-content: flex-end;
    flex-wrap: wrap;
    min-width: 30%;
    display: flex;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100% !important;
    max-width: 100%;
    padding: 0 20px;
}

.page-footer {
    padding: 0px;
    background-color: $footer-container-color;
}

.footer-leaf {
    height: auto;
    width: 12px;
    margin-right: 6px;
}

.footer-link {
    color: $footer-text-color;
    padding: 15px !important;
    white-space: nowrap;
    display: block;
}

.footer-link:hover {
    text-decoration: underline;
}
