@use '../../../styles/colors.scss' as *;

@media only screen and (min-width: 520px) {
    .mobile-results-footer {
        display: none !important;
    }
}

@media only screen and (min-width: 520px) {
    .results-page-footer {
        display: block !important;
    }
}

@media only screen and (max-width: 1121px) {
    .results-footer-span {
        margin-left: 28px !important;
    }
}

@media only screen and (min-width: 1121px) and (max-width: 1300px) {
    .results-footer-span {
        margin-left: calc((100vw - 1065px) / 2) !important;
    }
}

.mobile-results-footer {
    padding-top: 16px;
    padding-bottom: 28px;
    display: block;
    min-width: 352px;
    background: $footer-copyright;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.mobile-results-footer-2 {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: -27px;
    line-height: 35px;
    text-align: center;
}

.mobile-results-link {
    color: $results-footer;
    text-decoration: none;
    white-space: nowrap;
    padding-left: 27px !important;
    margin: 0 !important;
}

.results-footer {
    text-decoration: none;
    white-space: nowrap;
    color: $results-footer;
}

.results-footer-link {
    padding-left: 27px !important;
    margin: 0 !important;
}

.results-footer-span {
    margin-left: 180px;
}

.results-footer-span-2 {
    white-space: nowrap;
}

.results-page-footer {
    background: $footer-copyright;
    line-height: 40px;
    padding-bottom: 12px;
    padding-top: 24px;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 916px;
    display: none;
}
