// The style classes below is native to Materialize

div.input-field.col {
    flex: 1;
    display: flex;
    margin: 0px;
    padding-top: 2px;
}

// The style classes below is custom

@media only screen and (max-width: 519px) {
    .microphone-container-2 {
        display: none !important;
    }

    body {
        min-width: 300px !important;
    }
}

.search-engine {
    display: flex;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: auto;
    max-width: 584px;
    margin: 0 auto;
    box-shadow: none;
}

.search-engine-2 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}

.search-input {
    min-width: 263px;
    // width: 487px;
    height: 34px !important;
    padding: 0px !important;
    border: none !important;
    // margin: 0 auto;
    margin: 0 !important;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex: 100%;
    margin-top: 2px !important;
}

input#query.search-input:focus {
    box-shadow: none;
}

.search-input:focus-visible {
    outline: 0px;
}

input#query.search-input {
    border: 0px;
    margin: 0px;
}

.input-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;

    margin-top: -5px;
}

.magnifying-glass-container {
    padding-right: 13px;
    display: flex;
    align-items: center;
    margin-top: -5px;
}

.magnifying-glass-container-2 {
    margin: auto;
}

.glass-icon-container {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-top: 3px;
}

.glass-image {
    display: block;
    height: 100%;
    width: 100%;
}

.microphone-container {
    display: flex;
    flex: 0 0 auto;
    align-items: stretch;
    flex-direction: row;
    margin-top: -5px;
}

.search-engine:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}

.microphone-container-2 {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0 8px;
    line-height: 44px;
}

.microphone {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

// .reveal {
//     display: block;
// }

.helper-container {
    display: none;
}

.helper-container-2 {
    display: block !important;
}

.search-engine-inner {
    padding: 5px 8px 0px 14px;
    flex: 1;
    display: flex;
}

#helper-list-item {
    display: flex;
    align-items: center;
    min-width: 0;
    padding: 0;
    margin: 0;
}

#helper-list-item:hover {
    background-color: rgba(51, 51, 51, 0.08);
}

#item-container {
    flex: auto;
    display: flex;
    align-items: center;
    margin: 0 20px 0 14px;
}

#item-icon {
    display: flex;
    align-items: center;
    margin: 0 13px 0 1px;
    background: url(/src/assets/images/magnifyingGlass.png) no-repeat 0 0;
    background-size: 20px;
    min-height: 20px;
    min-width: 20px;
    height: 20px;
    width: 20px;
}

#item-name {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-width: 0;
    padding: 6px 0;
}

#item-name-2 {
    display: flex;
    font-size: 16px;
    color: #212121;
    flex: auto;
    align-items: center;
    word-break: break-word;
    padding-right: 8px;
}

// #item-span {
//     flex: auto;
// }
