.form-container-2 {
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    position: relative;
}

.query-box {
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
}
