@media only screen and (min-width: 520px) {
    .mobile-preloader {
        display: none !important;
    }

    .mobile-notice-container {
        display: none !important;
    }
}

.mobile-flex {
    display: flex !important;
}

.mobile-explanation {
    padding-top: 10px;
}

.mobile-load-header {
    text-align: center;
}

.mobile-notice-container {
    display: none;
    justify-content: center;
    color: black;
    padding: 10px 20px;
    background-color: white;
    min-width: 312px;
}

.mobile-preloader {
    width: 100vw;
    justify-content: center;
    display: flex;
    top: 15rem;
    margin-top: 8rem;
    background-color: white;
}

.mobile-support {
    display: inline-block;
    color: black;
    text-decoration: underline;
}

.mobile-support:hover {
    color: rgba(0, 0, 0, 0.753);
    background-color: rgba(0,0,0,0);
}

.mobile-none {
    display: none;
}