$side-nav-active: rgba(0, 204, 255, 0.274);
$all-border: #4285f4;
$apps-icon: #5f6368;
$black: #111;
$button-shadow: rgb(0 0 0 / 10%);
$clear: rgba(0, 0, 0, 0);
$dark: #202124;
$fetch-button: #f8f9fa;
$button-text: #3c4043;
$fetch-hover: rgb(0 0 0 / 10%);
$footer-container-color: rgba(51, 51, 51, 0);
$footer-copyright: #f2f2f2 !important;
$footer-text-color: #70757a;
$line: #dadce0;
$mobile-apps: #000;
$mobile-results: rgba(0, 0, 0, 0.87);
$mobile-sign-in: #5094ed;
$nav-button: #1a73e8;
$nav-button-hover: #2b7de9 !important;
$nav-icon-hover: rgb(255, 3, 3);
$nav-item-apps-hover: rgba(60, 64, 67, 0.08);
$niah-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%),
    0 1px 3px 1px rgb(66 133 244 / 15%);
$results-glass: #9aa0a6;
$results-form: rgba(223, 225, 229, 0);
$rf-shadow-3: rgb(60 64 67 / 16%);
$rf-shadow: rgb(32 33 36 / 28%);
$side-nav-item: rgba(0, 0, 0, 0.54);
$white: #fff;
