@media (min-width: 1121px) and (max-width: 1300px) {
    .results-nav2-container-1 {
        margin-left: calc((100vw - 1065px) / 2 - 180px);
    }
}

.blue-line {
    background: #1a73e8;
    height: 3px;
    margin-top: 11px;
}

.results-nav2-container-1 {
    border-bottom: 1px solid #ebebeb;
    // margin-top: -21px;
    position: relative;
    z-index: 126;
    margin-top: 75px;
}

.results-nav2-container-2 {
    background: #fff;
    height: 58px;
    padding: 0;
    position: relative;
    z-index: 126;
    white-space: nowrap;
}

.results-nav2-container-3 {
    position: relative;
    white-space: nowrap;
    align-items: baseline;
    display: flex;
    -ms-flex-pack: justify;
    float: left;
    justify-content: space-between;
    min-width: 832px;
}

.results-nav2-container-4 {
    display: inline;
    margin-left: 169px;
}

.results-nav2-container-5 {
    border: 1px solid transparent;
    text-align: center;
    border-radius: 2px;
    line-height: 19px;
    cursor: pointer;
    margin-left: -1px;
    padding: 4px 11px;
    margin-right: -11px;
    color: #5f6368;
    text-decoration: none;
    display: inline-block;
}

.results-nav2-container-5:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    -webkit-transition: all 0.0s;
    background-color: #f8f9fa;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f9fa),to(#f8f9fa));
    border: 1px solid #dadce0;
    color: #202124;
}

.results-nav2-section {
    // height: 16px;
    line-height: 16px;
    margin: 11px 1px 0;
    display: inline-block;
    white-space: nowrap;
}

.results-nav2-images {
    display: block;
    height: 100%;
    width: 100%;
}

.section-results-0 {
    padding: 17px 12px 0px 10px !important;
    text-decoration: none;
    display: inline-block;
}

.blue-link {
    color: #1a73e8;
}

.grey-link {
    color: #5f6368;
}

.section-results-1 {
    height: 16px;
    width: 16px;
    display: inline-block;
    fill: currentColor;
    margin-right: 5px;
    vertical-align: text-bottom;
}
