@use '../../../styles/colors.scss' as *;

.footer-copyright {
    padding: 0px 20px !important;
    // display: inline-flex !important;
    width: 100%;
    // justify-content: space-between;
}

.left-footer-container {
    order: 1;
    // justify-content: flex-start;
    // flex-wrap: wrap;
}

.center-footer-container {
    order: 2;
    // flex-wrap: wrap;
    // justify-content: space-between;
}

.right-footer-container {
    order: 3;
    // justify-content: flex-end;
    // flex-wrap: wrap;
}

div.container {
    width: 100% !important;
    display: flex;
}

.footer-divider {
    width: 33.33%;
    text-align: center;
}

.container {
    max-width: 100% !important;
}

.page-footer {
    padding: 0px;
    background-color: $footer-container-color;
}

.footer-leaf {
    height: auto;
    width: 12px;
    margin-right: 6px;
}

.footer-link {
    color: $footer-text-color;
    padding: 15px;
    // white-space: nowrap;
}

.footer-link:hover {
    text-decoration: underline;
}
.footer-text {
    color: $footer-text-color;
}

// .row {
//     margin: 0px;
// }
