@use '../../../styles/colors.scss' as *;

.page-footer {
    padding: 0px;
    // background-color: $footer-container-color;
    background-color: $footer-container-color;
}

.footer-copyright {
    padding: 30px 20px;
}

.footer-text {
    color: $footer-text-color;
}

.row {
    margin: 0px;
}
