@use '../../styles/colors.scss' as *;

.data-container {
    position: relative;
    margin-top: 0px;
    clear: both;
}

.data-container-2 {
    max-width: 1539px;
    float: left;
    padding-top: 5px;
}

.data-container-3 {
    clear: both;
    position: relative;
    width: 652px;
}

.stats-bar {
    background: $white;
    -webkit-box-sizing: border-box;
}

.stats-relative-0 {
    position: relative;
}

.stats-relative-1 {
    height: 43px;
}

.stats-relative-2 {
    display: flex;
    position: absolute;
    top: 0;
    -webkit-transition: all 220ms ease-in-out;
    color: $footer-text-color;
    justify-content: space-between;
    min-width: 652px;
    line-height: 43px;
}

.stats-relative-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 8px;
}
