@use '../../../styles/colors.scss' as *;

#btn:focus {
    background-color: initial;
}

.fetch-button-style {
    background-color: $fetch-button;
    border: 1px solid $fetch-button;
    border-radius: 4px;
    color: $button-text;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    box-shadow: none;
}

.fetch-button-style:hover {
    box-shadow: 0 1px 1px $fetch-hover;
    background-color: $fetch-button;
    border: 1px solid $line;
    color: $dark;
}
