.preloader-container-1 {
    position: fixed;
    margin: 0 auto;
    left: 0;
    width: 100%;
    padding: 15%;
    height: 751px;
    margin-bottom: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader-container-2 {
    position: absolute;
    margin: auto;
}

.row {
    margin-bottom: 0 !important;
}