.explanation {
    text-align: center;
}

.flex {
    display: flex !important;
}

h5 {
    text-align: left;
}

.none {
    display: none !important;
}

.notice {
    // position: fixed;
    left: 50%;
    top: 25rem;
    text-align: center;
    max-width: 600px;
    padding: 90px;
}

.notice-container {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.preloader {
    display: block;
}

.preloader-container-1 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 25rem;
}

.support {
    color: black;
    text-decoration: underline;
}

.support:hover {
    color: rgba(0, 0, 0, 0.808);
}

.troubleshoot {
    font-weight: 400;
}