@use '../../styles/colors.scss' as *;

@media (min-width: 1300px) {
    .stats-relative-1 {
        margin-left: 0 !important;
    }
}

.adjusted {
    margin-right: -10px;
    margin-left: -10px;
}

#axios-data-1 {
    width: 600px !important;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.58;
    text-align: left;
}

#axios-data-2 {
    position: relative;
}

#axios-data-3 {
    width: 548px;
}

#axios-data-5 {
    color: $axios-data;
}

.bottom-letter {
    font-weight: 700;
    padding: 0;
    text-align: center;
}

.bottom-letter-span {
    background-position: -24px 0;
    width: 28px;
    overflow: hidden;
    background-position: 0 0;
    height: 40px;
    display: block;
    font-size: 30px;
}

.bottom-o {
    padding: 0;
    text-align: center;
    color: $dark;
    font-weight: 700;   
}

.bottom-o-span {
    background: url(../../assets/images/theX.png) no-repeat;
    background-position: -53px 0;
    width: 20px;
    overflow: hidden;
    height: 40px;
    display: block;
    font-size: 30px;
}

.bottom-yellow-o {
    padding: 0;
    text-align: center;
}

.bottom-yellow-o-link {
    display: block;
    font-weight: normal;
}

.bottom-yellow-o-span {
    background-position: -74px 0;
    width: 20px;
    cursor: pointer;
    overflow: hidden;
    height: 40px;
    display: block;
    font-weight: 30px !important;
}

.cursor {
    cursor: pointer;
}

.data-container {
    position: relative;
    margin-top: 0px;
    clear: both;
}

.data-container-2 {
    max-width: 1539px;
    float: left;
    padding-top: 5px;
}

.data-container-3 {
    clear: both;
    position: relative;
    width: 652px;
}

.data-container-4 {
    margin-top: 6px;
}

#data-link {
    color: $dark;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 1.3;
    margin: 0;
}

#data-title {
    padding-top: 5px;
    margin-top: 0;
    margin-bottom: 3px;
    line-height: 1.3;
    color: $data-title;
    font-size: 20px;
}

#data-title:hover {
    text-decoration: underline;
}

#description {
    margin-top: 0;
    margin-bottom: 0;
}

.empty {
    color: $empty;
}

.google-blue {
    color: $google-blue;
}

.google-green {
    color: $google-green;
}

.google-red {
    color: $google-red;
}

.google-table {
    margin-bottom: 106px;
}

.google-yellow {
    color: $google-yellow;
    text-decoration: none !important;
}

.hov-line:hover {
    color: $google-red;
    text-decoration: underline;
}

.stats-bar {
    background: $white;
    -webkit-box-sizing: border-box;
}

.stats-relative-0 {
    position: relative;
}

.stats-relative-1 {
    height: 43px;
}

.stats-relative-2 {
    display: flex;
    position: absolute;
    top: 0;
    -webkit-transition: all 220ms ease-in-out;
    color: $footer-text-color;
    justify-content: space-between;
    min-width: 652px;
    line-height: 43px;
}

.stats-relative-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 8px;
}

.table {
    border-collapse: separate;
    text-align: left;
    margin: 30px auto 30px;
    width: auto;
}

.unbold {
    font-weight: normal;
}

.unbold-blue {
    font-weight: normal;
    color: $all-border;
}
