@media (min-width: 520px) {
    .not-found-container {
        display: flex !important;
    }
}

@media (max-width: 1121px) {
    .not-found-container {
        margin-left: -28px !important;
    }
}

.nf-text {
    text-align: center;
}

.not-found-container {
    width: 100vw;
    justify-content: center;
    margin-left: -180px;
    display: none;
}

.not-found-container-2 {
    left: 50%;
    top: 25rem;
    text-align: center;
    max-width: 600px;
    padding: 0 30px;
    padding-top: 3rem;
    background-color: white;
}