@use '../../../styles/colors.scss' as *;

.none {
    display: none !important;
}


.mobile-results-helpers {
    display: none;
}

.mobile-results-helpers-2 {
    display: flex !important;
    border: none;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    background: $white;
    height: auto;
    margin-top: 0;
    max-height: 48px;
}


.mrh-container {
    display: block;
}

.mobile-results-helpers-data-hidden {
    display: none;
}






.mobile-results-helpers-data {
    display: block;
    border: none;
    margin: 0 6px 0 10px;
    border-top: 1px solid #dadce0;
    background: #fff;
    position: relative;
    text-align: left;
    border-radius: 0;
    z-index: 989;
    overflow-x: hidden;
    cursor: default;
    -webkit-user-select: none;
}

.mobile-results-helpers-data-2 {
    box-shadow: none;
    list-style-type: none !important;
    padding: 0;
    margin: 0;
}

.mobile-results-helpers-data-3 {
    padding: 0;
    margin: 0;
}

.mobile-results-helpers-data-4 {
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 0;
    margin: 0;
}















.mobile-results-form {
    height: 44px;
    display: block;
    margin-top: 0em;
}

.mobile-results-form-2 {
    background: none;
    border-radius: 25px;
    padding-bottom: 4px;
}

.mobile-results-form-2-a {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: $white !important;
    z-index: 989;
    border-radius: 0 !important;
    overflow: auto;
}

.mobile-results-form-3 {
    display: flex;
    height: 44px;
    margin-top: 0px;
    z-index: 3;
    box-shadow: 0px 2px 5px 0px $rf-shadow-3;
    border-radius: 25px;
    background: $white;
}

.mobile-results-form-3-1 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 6px $rf-shadow;
    border-color: $results-form;
}

.mobile-results-glass {
    display: flex;
    border-radius: 0 25px 25px 0;
    padding: 0 12px;
    background: transparent;
    border: none;
    margin-right: -1px !important;
    padding-right: 0;
    flex: 0 0 auto;
    margin: 0;
}

.mobile-results-glass:focus {
    background-color: $clear;
}

.mobile-results-glass:hover {
    background-color: $clear;
}

.mobile-results-glass-2 {
    background: none;
    color: $results-glass;
    height: 24px;
    width: 24px;
    margin: auto;
}

.mobile-results-glass-3 {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.mobile-results-glass-4 {
    display: block;
    height: 90%;
    width: 90%;
}

.mobile-results-input {
    flex: 1;
    display: flex;
    padding: 7px 0;
}

.mobile-results-input-2 {
    display: flex;
    flex: 1;
}

.mobile-results-input-3 {
    height: 2rem !important;
    line-height: 25px;
    background-color: transparent !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 0 0 16px !important;
    font-size: 16px !important;
    font-family: Roboto, Helvetica Neue, Arial, sans-serif;
    color: $mobile-results;
    word-wrap: break-word;
    display: flex;
    flex: 1;
    -webkit-tap-highlight-color: transparent;
    width: 100% !important;
}

.mobile-results-input-3:focus {
    box-shadow: none !important;
}

.mobile-results-x {
    display: flex;
    flex: 0 0 auto;
    align-items: stretch;
    margin-right: 3px;
}

.mobile-results-x-2 {
    display: flex;
    flex: 1;
    color: $footer-text-color;
    cursor: pointer;
    font: 27px/25px arial, sans-serif;
    align-items: center;
    padding: 0 12px;
    margin: 0 0;
    border: 0;
    background: transparent;
}

.mobile-results-x-2:focus {
    background-color: $clear;
}

.mobile-results-x-3 {
    display: inline-block;
    fill: currentColor;
    height: 14px;
    line-height: 24px;
    position: relative;
    width: 14px;
}

.mobile-results-x-4 {
    display: block;
    height: 100%;
    width: 100%;
}
