@use '../../styles/colors.scss' as *;

.helper-link {
    padding: 0 5px !important;
    color: $footer-text-color;
    float: right;
    font-style: italic;
    -webkit-tap-highlight-color: $clear;
}

.helper-link:hover {
    text-decoration: underline;
}

.helper-list-item {
    display: flex;
    align-items: center;
    min-width: 0;
    padding: 0;
    margin: 0;
}

.helper-list-container {
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 0;
    margin: 0;
}

.helper-space {
    border-top: 1px solid $helper-space;
    margin: 0 20px 0 14px;
    padding-bottom: 4px;
    display: block;
}

.helper-space-bottom {
    padding-bottom: 8px !important;
    flex: auto;
    padding: 0;
    margin: 0;
    display: block;
}
.item-container {
    flex: auto;
    display: flex;
    align-items: center;
    margin: 0 20px 0 14px;
}

.item-icon {
    display: flex;
    align-items: center;
    margin: 0 13px 0 1px;
    background: url(/src/assets/images/magnifyingGlass.png) no-repeat 0 0;
    background-size: 20px;
    min-height: 20px;
    min-width: 20px;
    height: 20px;
    width: 20px;
}

.item-name {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-width: 0;
    padding: 6px 0;
}

.item-name-2 {
    display: flex;
    font-size: 16px;
    color: $item-name;
    flex: auto;
    align-items: center;
    word-break: break-word;
    padding-right: 8px;
}

#item-span {
    flex: auto;
}

.search-helper {
    position: absolute;
    text-align: left;
    z-index: 3;
    cursor: default;
    -webkit-user-select: none;
    width: 100%;
    margin-top: -1px;
    display: block;
}

.search-helper-2 {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: $white;
    border-radius: 0 0 24px 24px;
    box-shadow: 0 4px 6px $rf-shadow;
    border: 0;
    padding-bottom: 4px;
}

.search-helper-3 {
    padding: 0;
    margin: 0;
    display: block;
}

.search-helper-button-container {
    height: 70px;
    display: block;
}

.search-helper-button-container-2 {
    display: block;
    text-align: -webkit-center;
    text-align: center;
}

.search-helper-text {
    font-size: 8pt;
    margin-top: -16px;
    position: absolute;
    right: 16px;
    display: block;
}
