@use '../../../styles/colors.scss' as *;

// Code below is native to Materialize; classes are shared with LayoutNavigation.scss

a {
    padding: 0px !important;
}

div.nav-wrapper {
    background-color: $white;
    line-height: 69px;
    max-height: 69px;
}

i.material-icons {
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: #5f6368;
}

.line {
    background: #dadce0;
    height: 1px;
    margin: 5px 0;
}

.margin-left-edge {
    margin-left: 15px;
}

.margin-right {
    margin-right: 5px;
}
nav {
    line-height: 69px;
    height: 69px;
    max-height: 69px;
}

.nav-container-left {
    display: flex;
    padding-left: 5px;
}

.nav-item {
    color: $black;
    padding-left: 10px !important;
    padding-right: 10px !important;
    max-height: 48px;
}

.nav-item:hover {
    background-color: #fff;
    text-decoration: underline;
}

.nav-item-apps {
    color: $black;
    padding-left: 10px !important;
    padding-right: 10px !important;
    max-height: 48px;
    transition: none;
}

.nav-item-apps:hover {
    background-color: rgba(60, 64, 67, 0.08);
    text-decoration: none;
    border-radius: 50%;
}

.nav-item-apps:focus-visible {
    border-radius: 50%;
}

.nav-link {
    padding: 5px;
}

.side-nav-item {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    height: 48px;
    line-height: 20px;
    width: 100%;
    vertical-align: middle;
}

.side-nav-item-image {
    padding: 0 15px;
    margin-bottom: 3px;
    vertical-align: middle;
    height: 24px;
}

ul.sidenav {
    width: 250px !important;
    background-color: $white;
    overflow-y: scroll;
    padding-top: 15px;
    transition: 0.5s;
    font-size: 16px;
}

// Code below is specific to the ResultsNavigation.tsx componenet

.button-apps-container {
    padding-right: 20px;
    padding-left: 15px;
    flex: 0 0 auto;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    white-space: nowrap;
    vertical-align: middle;
    height: 46px;
}

.container-0 {
    max-width: 180px;
}

.gear-container {
    display: flex;
    margin-right: -14px;
    position: relative;
    z-index: 99;
}

.gear-container-2 {
    position: relative;
    display: inline-block;
    margin-top: 4px;
    margin-left: 8px;
}

.gear-container-3 {
    display: inline-block;
}

.gear-container-4 {
    display: block;
}

.header-results {
    position: absolute;
    top: 20px;
    margin-top: 6px;
    width: 100%;
    min-width: 1121px;
}

i.material-icons.results-apps-icon {
    height: 24px;
}

.nav-container-results {
    display: flex;
    justify-content: space-between;
    max-height: 46px;
}

.nav-container-right-results {
    display: flex;
}

.nav-gear {
    border-radius: 50%;
    color: #5f6368;
    padding: 8px !important;
    width: 40px;
    height: 40px;
    display: block;
}

.nav-gear-2 {
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
    color: #5f6368;
}

.nav-icon:hover {
    border: 1px red solid;
    text-decoration: none !important;
    background-color: rgba(60, 64, 67, 0.08);
    padding: 8px;
    border-radius: 50%;
}

nav.omg {
    height: 69px !important;
}

nav ul li {
    float: none;
}

.results-apps-icon {
    height: 24p !important;
    width: 24px;
}

.results-input:focus {
    border-bottom: 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.results-nav-button {
    background-color: #1a73e8;
    border: 1px solid transparent;
    padding: 1px 23px;
    box-shadow: none;
    border-radius: 4px;
    margin-left: 8px !important;
    margin-right: 8px !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    min-width: 80px;
}

.results-nav-button:hover {
    background-color: #2b7de9 !important;
    text-decoration: none !important;
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%),
        0 1px 3px 1px rgb(66 133 244 / 15%);
    border: 1px solid transparent !important;
}

.results-nav-item-apps {
    padding: 8px !important;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.results-nav-item-container {
    display: inline;
    white-space: nowrap;
}

.results-nav-item-container-2 {
    padding: 4px;
    display: inline-block;
    vertical-align: middle;
}

.results-sign-in {
    padding: 9px 15px;
}

.section-results {
    height: 69px;
    left: 0;
    position: absolute;
    width: 100%;
    margin-top: -20px;
    padding-top: 20px;
}

.settings-icon {
    display: block !important;
    height: 100% !important;
    width: 100%;
}
