@use '../../../styles/colors.scss' as *;

// Code below is native to Materialize; classes are shared with LayoutNavigation.scss

a {
    padding: 0px !important;
}

div.nav-wrapper {
    background-color: $white;
    line-height: 69px;
    max-height: 69px;
}

i.material-icons {
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: $apps-icon;
}

.line {
    background: $line;
    height: 1px;
    margin: 5px 0;
}

.margin-left-edge {
    margin-left: 15px;
}

.margin-right {
    margin-right: 5px;
}
nav {
    line-height: 69px;
    height: 69px;
    max-height: 69px;
}

.nav-container-left {
    display: flex;
    padding-left: 5px;
}

.nav-item {
    color: $black;
    padding-left: 10px !important;
    padding-right: 10px !important;
    max-height: 48px;
}

.nav-item:hover {
    background-color: $white;
    text-decoration: underline;
}

.nav-item-apps {
    color: $black;
    padding-left: 10px !important;
    padding-right: 10px !important;
    max-height: 48px;
    transition: none;
}

.nav-item-apps:focus-visible {
    border-radius: 50%;
}

.nav-item-apps:hover {
    background-color: $nav-item-apps-hover;
    text-decoration: none;
    border-radius: 50%;
}

.nav-link {
    padding: 5px;
}

.side-nav-item {
    display: flex;
    align-items: center;
    color: $side-nav-item;
    height: 48px;
    line-height: 20px;
    width: 100%;
    vertical-align: middle;
}

.side-nav-item-image {
    padding: 0 15px;
    margin-bottom: 3px;
    vertical-align: middle;
    height: 24px;
}

ul.sidenav {
    width: 250px !important;
    background-color: $white;
    overflow-y: scroll;
    padding-top: 15px;
    transition: 0.5s;
    font-size: 16px;
}

// ---------------------------- Code below is specific to the ResultsNavigation.tsx component

@media only screen and (max-width: 519px) {
    .nav-container-results {
        display: none !important;
    }

    .results-container-image {
        max-height: 40px !important;
        padding: 10px 10px 8px;
    }

    .section-results {
        margin: 6px 2px 4px !important;
    }
}

@media only screen and (min-width: 520px) {
    .mobile-results-2 {
        display: none !important;
    }

    .mobile-results-searcher {
        display: none !important;
    }
}

@media only screen and (min-width: 514px) {
    .mobile-results-tools {
        display: none !important;
    }
}

.button-apps-container {
    padding-right: 20px;
    padding-left: 15px;
    flex: 0 0 auto;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    white-space: nowrap;
    vertical-align: middle;
    height: 46px;
}

.container-0 {
    max-width: 180px;
}

.gear-container {
    display: flex;
    margin-right: -14px;
    position: relative;
    z-index: 99;
}

.gear-container-2 {
    border-radius: 50%;
    color: #5f6368;
    cursor: pointer;
    height: 24px;
    margin-top: 4px;
    padding: 8px;
    width: 24px;
}

.gear-container-2:hover {
    background-color: rgba(60, 64, 67, 0.08);
}

.gear-container-3 {
    display: inline-block;
}

.gear-container-4 {
    display: block;
}

i.material-icons.results-apps-icon {
    height: 24px;
}

.mobile-results-2 {
    display: block;
    height: 58px;
    position: relative;
    width: 100%;
}

.mobile-results-container {
    background-image: none;
    line-height: 34px;
    outline: none;
    height: 100%;
    top: 0;
    background-size: 75px 26px;
    color: transparent;
    position: absolute;
    text-align: center;
    left: 50%;
    margin-left: -65px;
}

.mobile-results-container:hover {
    background-color: rgba(0, 0, 0, 0);
}

.mobile-results-item {
    display: inline-block;
    line-height: 27px;
    height: 28px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}
.mobile-results-item-a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 12px 8px 12px !important;
    color: rgba(0, 0, 0, 0.54);
}

.mobile-results-items-container {
    margin-top: 4px;
    padding-bottom: 16px;
    height: 36px;
    line-height: 28px;
    overflow: hidden;
    position: relative;
}

.mobile-results-items-container-2 {
    -webkit-user-select: none;
    display: block;
    overflow-y: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
    overflow-x: scroll;
    box-shadow: 0px 1px 3px 0px rgb(60 64 67 / 8%);
    height: 36px;
    margin-left: -3px;
    margin-right: -3px;
    padding-bottom: 8px;
}

.mobile-results-items-container-2::-webkit-scrollbar {
    display: none;
}

.mobile-results-items-container-3 {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    padding-right: 8px;
    padding-left: 11px;
    margin-left: -4px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mobile-results-item-first {
    color: #202124;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0;
    border-bottom: 2px solid #202124;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    line-height: 27px;
    height: 28px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

.mobile-results-searcher {
    box-shadow: none;
    border-radius: 25px;
    background: none;
    margin-top: -1px;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    overflow: visible;
    margin-bottom: 0;
}

.mobile-results-tools {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding-right: 16px !important;
    padding-left: 24px !important;
    display: inline-block;
    line-height: 27px;
    height: 28px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
    padding: 8px 12px 8px 12px;
}

.mobile-results-tools:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.nav-container-results {
    display: flex;
    justify-content: space-between;
    max-height: 46px;
}

.nav-container-right-results {
    display: flex;
}

.nav-gear {
    display: block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.nav-gear:hover {
    background-color: rgba(0, 0, 0, 0);
}

.nav-gear-2 {
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
    color: #5f6368;
}

.nav-icon:hover {
    border: 1px red solid;
    text-decoration: none !important;
    background-color: rgba(60, 64, 67, 0.08);
    padding: 8px;
    border-radius: 50%;
}

nav.omg {
    height: 69px !important;
}

nav ul li {
    float: none;
}

.results-input:focus {
    border-bottom: 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.results-apps-icon {
    height: 24p !important;
    width: 24px;
}
.results-container-image {
    border: none;
    max-width: 100%;
    margin: 0px 0;
    max-height: 64px;
    vertical-align: middle;
}

.results-mobile-profile {
    height: 58px;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    padding: 0;
    float: right;
}

.results-nav-button {
    background-color: #1a73e8;
    border: 1px solid transparent;
    padding: 1px 23px;
    box-shadow: none;
    border-radius: 4px;
    margin-left: 8px !important;
    margin-right: 8px !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    min-width: 80px;
}

.results-nav-button:hover {
    background-color: #2b7de9 !important;
    text-decoration: none !important;
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%),
        0 1px 3px 1px rgb(66 133 244 / 15%);
    border: 1px solid transparent !important;
}

.results-nav-item-apps {
    padding: 8px !important;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.results-nav-item-apps:hover {
    background-color: rgba(60, 64, 67, 0.08);
}

.results-nav-item-container {
    display: inline;
    white-space: nowrap;
}

.results-nav-item-container-2 {
    padding: 4px;
    display: inline-block;
    vertical-align: middle;
}

.results-profile-icon {
    padding: 12px !important;
    display: block;
    height: 29px;
    width: 29px;
}

.results-profile-icon:hover {
    background-color: rgba(0, 0, 0, 0);
}

.results-sign-in {
    padding: 9px 15px;
}

.section-results {
    margin: 6px 0 4px;
    height: 65px;
    z-index: 999;
}

.settings-icon {
    display: block !important;
    height: 100% !important;
    width: 100%;
}

.user-profile {
    fill: #1a73e8;
    height: 27px;
    width: 27px;
}
