@use '../../styles/colors.scss' as *;

// Code below is specific to the ResultsNavigation.tsx component

@media (min-width: 1121px) and (max-width: 1300px) {
    .results-form-container-2 {
        margin-left: calc((100vw - 1065px) / 2 + 105px) !important;
    }
}

@media (max-width: 1300px) {
    .results-query-container-1 {
        width: 538px !important;
    }

    .results-form-container-2 {
        width: 540px !important;
    }

    .results-search-helper {
        width: 540px !important;
    }
}

.results-form-container-1 {
    width: 833px;
}

.results-form-container-2 {
    width: 719px;
    margin-left: 133px;
    margin-right: 0px;
    position: relative;
    padding-left: 27px;
}

.results-form-container-3 {
    flex: 1;
    display: flex;
    padding: 5px 4px 0 14px;
}

.results-glass-image {
    display: block;
    height: 100%;
    width: 100%;
}

.results-glass-link:hover {
    background-color: $clear !important;
}

.results-glass-button:focus {
    background-color: $clear !important;
}

.results-helper-container-1 {
    display: none;
}

.results-helper-container-2 {
    display: block !important;
}

.results-input {
    height: 39px !important;
    line-height: 39px;
    margin-top: -42px !important;
    border: none;
    margin: 0 !important;
    padding: 0 !important;
    color: rgba(0, 0, 0, 0.87);
    word-wrap: break-word;
    display: flex;
    flex: 100%;
    font-size: 16px !important;
    width: 381px !important;
}

.results-line {
    border-right: 1px solid $results-line;
    height: 65%;
    margin: auto;
}

.results-logo {
    height: 33px;
    aspect-ratio: auto 92 / 33;
    width: 92px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

.results-logo-0:hover {
    background-color: transparent;
}

.results-logo-container {
    margin-top: -2px;
    position: absolute;
    left: -139px;
    padding: 4px 28px 0 30px;
    top: 6px;
    height: 40px;
}

.results-microphone {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: 0;
    padding: 0 8px;
    width: 24px !important;
    line-height: 44px;
}

.results-microphone-image {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.results-query-button-container-1 {
    flex: 0 0 auto;
    padding-right: 13px !important;
    height: 46px;
    width: 31px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.results-query-button-container-2 {
    background: none;
    color: $all-border;
    height: 20px;
    width: 20px;
    margin: auto;
}

.results-query-button-container-3 {
    display: inline-block;
    fill: currentColor;
    height: 20px;
    line-height: 24px;
    position: relative;
    width: 20px;
}

.results-query-container-1 {
    display: flex;
    z-index: 3;
    height: 46px;
    background: $white;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px $query-container;
    border-radius: 24px;
    // margin: 0 auto;
    width: 690px;
}

.results-query-container-1:hover {
    background-color: $white;
    box-shadow: 0 2px 8px 1px $query-container-hover;
    border-color: $results-form;
}

.results-query-container-2 {
    display: flex;
    width: 690px;
}

.results-query-container-9 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: $results-form;
}

.results-query-container-3 {
    flex: 1;
    display: flex;
    padding: 5px 4px 0 14px;
}

.results-query-input {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding-left: 6px;
    flex: 100%;
}

.results-query-input-1 {
    display: block;
    height: 39px !important;
    line-height: 39px;
    margin-top: -4px;
    width: 100%;
}

.results-x {
    padding-right: 4px !important;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    line-height: 44px;
}

.results-x-2 {
    height: 100%;
    color: $footer-text-color;
    vertical-align: middle;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
    width: 24px;
    margin-right: 12px;
}

.results-x-microphone {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
    width: 89px;
}

.x {
    display: block;
    height: 14px;
    width: 14px;
    padding: 15px 5px;
}
